@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
#grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  text-align: center;
}
header {
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 10px;
}
header a {
  font-size: 50px;
  padding: 150px;
  font-family: "Verdana";
  text-decoration: none;
  color: black;
  padding-bottom: 40px;
}
header a:hover {
  cursor: pointer;
  text-decoration: underline;
}
body {
  background-color: #aaacb0;
  margin: 0;
  padding: 0;
  background-image: url(/static/img/bakeri.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#pakker {
  max-width: 900px;
  margin: auto;
}

#grid a {
  background-color: aliceblue;
  border: 2px solid black;
  padding: 10px;
  align-self: stretch;
}

#grid a:hover {
  cursor: pointer;
  box-shadow: 7px 7px 7px 3px #ffffff;
}
header img {
  width: 800px;
  padding-left: 20px;
}

#grid img {
  width: 100%;
}

nav h1 {
  text-align: center;
  color: aliceblue;
}

.pris {
  text-align: center;
  font-size: 30px;
}

#grid a {
  color: black;
  text-decoration: none;
}

a.meny {
  color: azure;
  text-decoration: none;
  font-size: 1.5em;
  margin-right: 10px;
}
img {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: azure;
}

table tr:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}
#grid h1 {
  color: black;
  font-size: 20px;
  text-decoration: underline;
}
.forside h1 {
  font-size: 100px;
  color: black;
  text-align: center;
  background-color: white;
}
