<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flour Shower</title>
  </head>

  <body>
    <div class="header">
      <header>
        <img src="/static/img/flour shower.PNG" alt="" />
        <a href="produkter.html">Produkter</a>
      </header>
    </div>
    <div id="pakker">
      <h1>Ski</h1>
      <br />

      <br />
      <br />
      <div id="grid">
        {% for butikk in butikk %}
        <div>
          <img src="static/img{{butikk.bilde}}" alt="" />
          <h3>{{butikk.modell}}</h3>
          <h4>{{butikk.bilde}}</h4>
          <p>Bredde: {{ski.bredde}} mm</p>
          <p>Vekt: {{ski.vekt}} g</p>
          <p class="pris"><b>{{ski.pris}},-</b></p>
        </div>
        {% endfor %}
      </div>
    </div>
    <footer>
      e-post:flourshower@bread.com
  
      <div id="happytoast" onmousedown="catPet();clickCombo()">
        <img id="happytoast" src="cute-happy-funny-toast-cartoon-character-illustration-icon-design-isolated_92289-1130.jpg" class="">
        <div id="click-score" style="display: block;">0</div>
      </div>
    </footer>
  </body>
</html>
