<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Hjem</title>
</head>
<body>
  <div class="header">
    <header>
      <img src="/static/img/logo.png" alt="">
      <a href="/">Hjem</a>
      <a href="/produkter/relevans/DESC">Produkter</a>
      <a href="/info">Om oss</a>
    </header>
  </div>

    <div class="forside">
      <h1>flourshower er et lokalt bakeri</h1>
      <p>vi er et lokalt bakeri som bruker lokale varer. vårt mål og fokus er å gi topp kvalitet på brød og kakevarer.</p>

    </div>
    <p style="text-align: center;"><iframe src="https://maps.google.com/maps?q=bakeri%20hell&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0"></iframe></p>
  

  <footer>
    <h1>Kontaktinfo:</h1>
    <h2>Tlf: +47 986 41 898</h2>
    <h2>E-mail: Flour@shower.no</h2>
    <h2>Faks: 928312</h2>
  </footer>

   
    
    
</body>
</html>


