<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="om">
        <h1>Om oss</h1>
    </div>
    <div class="historie">
        <p>i 2005 kom vi opp med ideen, om å ha et bakeri hvor man kan bestille det man vil ha på forhånd. Slik at bakeriet kunne bake det de trengte når de trengte det. Slik at det alltid ville være ferskt.</p>
    </div>  
</body>
</html>