<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flour Shower</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  
  <body>
    
    <div class="header">
      <header>

        <div class="bar"><img src="/static/img/logo.png" alt="">
          <a href="/">Hjem</a>
          <a href="/produkter/relevans/DESC">Produkter</a>
          <a href="/info">Om oss</a></div>
        

      </header>
    </div>

    <div class="sorter">
      
    </div>
    <div class="sortering">
      
        <p>
          <nav>
            <a href="/produkter/pris/DESC">Pris stigende</a>
          <a href="/produkter/relevans/DESC">Relevans</a>
          <a href="/produkter/pris/ASC">Pris Synkende</a>
        </nav>
      </p>
        

    </div>
    

    <div id="pakker">
    
      <div id="grid">
        {% for butikk in butikk %}
        <a href="butikk/{{butikk.id}}">
          <div>
            <img src="/IT-oppgave/bakeri/nettbutikk/static/img/{{butikk.bilde}}" alt="" />
            <h3>{{butikk.modell}}</h3>
            <h3>{{butikk.navn}}</h3>
            <p>{{butikk.info}}</p>
            <p>Pris: {{butikk.pris}}kr</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>

</html>
